[project]
	description = Lunch Box UI 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ismail Baig (ismailbaig)
[access "refs/for/refs/*"]
	read = group user/Ismail Baig (ismailbaig)
	push = group user/Ismail Baig (ismailbaig)
	label-Code-Review = -2..+2 group user/Ismail Baig (ismailbaig)
	label-Verified = -1..+1 group user/Ismail Baig (ismailbaig)
	rebase = group user/Ismail Baig (ismailbaig)
	removeReviewer = group user/Ismail Baig (ismailbaig)
	submit = group user/Ismail Baig (ismailbaig)
[access "refs/heads/*"]
	read = group user/Ismail Baig (ismailbaig)
	create = group user/Ismail Baig (ismailbaig)
	push = +force group user/Ismail Baig (ismailbaig)
	pushMerge = group user/Ismail Baig (ismailbaig)
[access "refs/tags/*"]
	push = +force group user/Ismail Baig (ismailbaig)
	pushTag = group user/Ismail Baig (ismailbaig)
	pushSignedTag = group user/Ismail Baig (ismailbaig)
